# User data
backups/
config/config.hjson
config/emotes.hjson
config/text.hjson

# Development
__pycache__
.idea
.venv/
*/test.py

# Bot data
data/*
!data/*/
data/*/*

# Sourcetrail
*.srctrl*

# Outdated
config/emotes.py
