# User data
backups/
config/config.hjson
config/emotes.hjson
config/text.hjson
# v0.7+
cogs/*/config.hjson
cogs/*/text.hjson

# Development
__pycache__
.idea
.venv/
*/test*

# Bot data
data/*
!data/*/
data/*/*
!data/acl/commands.csv
!data/meme/pet
!data/meme/hyperpet
!data/meme/bonk
!data/Vafle VUT.pfb
