repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: requirements-txt-fixer

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    args:
      - -l 100

- repo: https://gitlab.com/pycqa/flake8
  rev: '3.8.4'
  hooks:
  - id: flake8
    args:
      - --isolated
      - --select=E9,F7,F82,F831
