[Unit]
Description=Rubbergoddess Discord bot service
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=rubbergoddess
StandardOutput=journal+console

WorkingDirectory=/home/rubbergoddess/rubbergoddess
ExecStart=/usr/bin/docker-compose up --build
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target

